.container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:flex-start;
    flex-wrap: wrap;
    background-color: GREY;
    align-content: space-between;


}
.box{
    background-color: black;
    width: 100px;
    height: 100px;
    color: white;
    font-size: xx-large;
    margin: 20px;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}
